.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
}

.slide-image {
  object-fit: cover;
}

.slide-content {
  position: absolute;
  inset: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  /* background: rgba(0, 0, 0, 0.4); */
  background: none;
  text-align: left;
  width: 30%;
}

.slide-content img {
  width: 80px;
  height: 80px;
}

.slide-content h2 {
  font-size: 3.8rem;
  color: #2e2e6e;
  margin-top: 15px;
  margin-bottom: 30px;
  line-height: 58px;
}

.slide-content p {
  font-size: 1.4rem;
  display: inline;
  padding-top: 15px;
  color: #1a98d5;
}

.slide-content button {
  margin-top: 10px;
  padding: 10px 20px;
}